
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  width: 100%; height: 100%;
  background: #fbffd6;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  font-family: 'Roboto Mono';
}

html {
  height: 200vh;
}

/* ── 새 레이어 ── */
#bird-layer {
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.bird {
  position: absolute;
  pointer-events: none;
  will-change: transform;
}
.bird img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

/* ── 텍스트 레이어 ── */
#text-layer {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  
  text-shadow: 0 0 0.15em  #ff48c5;
}

.text-block {
  position: absolute;
  width: 220px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(16px);
  animation: fadeUp 1s ease forwards;
}

.text-blocky {
  position: absolute;
  width: 220px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(16px);
  animation: fadeUp 1s ease forwards;
}

.text-block.t1 { top: 12%; left: 8%;  animation-delay: 0.2s; }
.text-block.t2 { top: 35%; right: 10%; animation-delay: 0.5s; }
.text-block.t3 { top: 62%; left: 40%; animation-delay: 0.8s; }

.text-block p {
  font-size: 0.95rem;
  line-height: 1.85;
  color: #74e31f;
  word-break: keep-all;
}

.text-blocky p {
  font-size: 0.95rem;
  line-height: 1.85;
   color: #ff38cd;
  word-break: keep-all;
}

@keyframes fadeUp {
  to { opacity: 1; transform: translateY(0); }
}

.text-block.t1, .text-block.t2, .text-block.t3 {
  transition: opacity 0.8s ease, transform 0.8s ease;
}


.scroll-group {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 20px));
  opacity: 0;
  animation: none !important;
  transition: opacity 0.8s ease, transform 0.8s ease;
  display:flex;
  flex-direction:column;
  align-items: center;
  gap: 1rem;
}

.scroll-box1 {
  border: 1px solid #ccc;
  padding: 5.6rem 4rem;
  width: 280px;
  font-size: 0.9rem;
  line-height: 2s;
  color: #ff38cd;
  background: rgba(245, 240, 232, 0.85);
}

.text-block.t4.visible {
  opacity: 1;
  transform: translate(-50%, -50%);
  color: #ff38cd;
  
}


.scroll-box2 {
  border: 1px solid #ccc;
  padding: 3rem 4rem;
  width: 280px;
  font-size: 0.9rem;
  line-height: 2s;
  color: #fffeaf;
  background: rgba(255, 245, 170, 0.85);
}

.text-block.t5.visible {
  opacity: 1;
  transform: translate(-50%, -50%);
}
